$background-color: #ffffff;
$baseText-color: #000000;
$listItem-background-color: #f8f6ffd8;
$listItem-border-color: #ffffff;
$listItem-text-color: #000000;
$listItem-categories-background-color: #ffffff;
$listItem-categories-text-color: #1a2947;

$orange: #FD8401;